.container:has(>.content) {
    background-color: rgb(240, 215, 215);
}
.content {
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    margin: 30px 0 30px 0;
    grid-gap: 30px;
    width: var(--width);
}

.content__body {
    padding: 90px 30px 30px 30px;
    margin-bottom: 70px;
}

.content__block {
    display: inline-block;
    position: relative;
    background-color: white;
    border-radius: 5px;
}

.content__img {
    width: 100%;
    margin: 20px 0;
    border-radius: var(--borderRaund);
}

.content__info {
    display: flex;
    position: absolute;
    bottom: 30px;
    width: calc(100% - 60px);
    background-color: rgb(240, 215, 215);
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    justify-content: space-between;
    font-family:monospace;
    font-size: 16px;
    color: #572f26;
}

.content__info .content__comment {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.content__category {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.content__mark {
    position: absolute;
    width: 330px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 20px;
    background-image: url("assets/sidebar-title-bg.png");
    background-size: 100% 100%;
    max-height: 30px;
    top: 20px;
    left: 0;

    font-family: 'Arvo', serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.content__menu {
    background-image: url('assets/p.png');
    border-radius: 5px;
    height: fit-content;
}

.content__text {
    line-height: 190%;
    font-size: 14px;
}
.font_dancing-script {

    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Cookie', cursive;
    color: #FFFFFF;
}
.font_dancing-script_logo {
    font-weight: 700;
    font-size: 50px;
}

.font_dancing-script_label {
    font-size: 35px;
}

.content-menu__block {
    position: relative;
    padding-top: 80px;
}
.content-menu__block:last-child {
    padding-bottom: 30px;
}

.content-menu__last-post {
    font-size: 14px;
    color: white;
    padding: 5px 0;
    border-bottom: #0000005c solid;
}
.content-menu__last-post:last-child {
    border-bottom: none;
}
.content-menu__wrapper {
    padding: 0 30px;
}
.content-menu__text {
    color: var(--textcolor);
    line-height: 160%;
    font-size: 14px;
}
.content-menu__top {
    height: 15px;
    background: url(assets/sidebar-bg-01.png);
}

.content-menu__bottom {
    margin-top: 20px;
    height: 15px;
    background: url(assets/sidebar-bg-03.png);
}

.content__title {
    display: block;
    font-weight: 400;
    letter-spacing: -2px;
    font-family: 'Arvo', serif;
    font-size: 34px;
    color: #4E2B22;
}
