:root {
    --width: 960px;
    --borderRaund: 10px;
    --textcolor: #E1C9C4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}